<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            dept table details
        </h1>
        <table border="3px">
           <tr><th>deptno</th>
           <th>dname</th>
           <th>dloc</th></tr>
           {% for data in deptdata %}
                <tr><td>{{data.deptno}}</td>
                <td>{{data.dname}}</td>
                <td>{{data.dloc}}</td></tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>